/*******************************************
GENERAL
********************************************/

* {
    box-sizing: border-box;
}

.name a,
.main-nav a {
    padding: 10px 15px;
    color: #d3d3d3;
}



html { 
  background: url(../img/siblings.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a:visited {
    text-decoration: none;
}


/*******************************************
HEADER
********************************************/
header {
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: #d3d3d3;
    text-align: center;
}

.name,
a  {
    text-decoration: none;
    color: #d3d3d3
}


/*******************************************
BODY
********************************************/

body {
   line-height: 1.6;
    font-family: 'Open Sans', san-serif;
    margin: 0 auto; 
}

h1 {
    margin-top: 0;
    color: 000;
}

.container {
    padding-left: 1em;
    padding-right: 1em;
}



/*******************************************
FOOTER
********************************************/

.main-footer {
    text-align: center;
}

/*******************************************
MEDIA QUERIES
********************************************/

