/*****************************************
My resets
******************************************/

ul, li {
 list-style: none;
}

/*****************************************
Navbar
******************************************/
.once {
  align-content: right;
}

/*****************************************
Body
******************************************/
.hannah {
  padding: 40px;
}

body {
  padding-top: 50px;
}

form {
  padding-left: 50px;
  padding-right: 50px;
}

/*****************************************
Carousel
******************************************/

ol {
  list-style: none;
}

/*****************************************
Footer
******************************************/

.footer {
  text-align: center;
  padding-top: 10px;
}