/*******************************************
GENERAL
********************************************/

* {
    box-sizing: border-box;
}

.name a,
.main-nav a {
    padding: 10px 15px;
    color: #d3d3d3;
}





a:visited {
    text-decoration: none;
}


/*******************************************
MENU BUTTON Code for menu button from https://css-tricks.com/snippets/apple-com-hamburger-bun-menu/
********************************************/

.hamburger {
  cursor: pointer;
  position: absolute;
  width: 48px;
  height: 48px;
  transition: all 0.25s;
}

.hamburger__top-bun,
.hamburger__bottom-bun {
  content: '';
  display: block;
  position: absolute;
  left: 15px;
  width: 18px;
  height: 1px;
  background: #fff;
  transform: rotate(0);
  transition: all 0.25s;
}

.hamburger:hover [class*="-bun"] {
  background: #999;
}

.hamburger__top-bun {
  top: 23px;
  transform: translateY(-3px);
}

.hamburger__bottom-bun {
  bottom: 23px;
  transform: translateY(3px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger__top-bun {
  transform: 
    rotate(45deg) 
    translateY(0px);
}

.open .hamburger__bottom-bun {
  transform: 
    rotate(-45deg) 
    translateY(0px);
} 

/*******************************************
HEADER
********************************************/

header {
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: #d3d3d3;
    text-align: center;
}

.name,
a  {
    text-decoration: none;
    color: #d3d3d3;
}


/*******************************************
BODY
********************************************/


body {
   line-height: 1.6;
    font-family: 'Open Sans', san-serif;
    margin: 0 auto; 
    background-color: #eeeff1;
}

h1 {
    margin-top: 0;
    color: 000;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
}





/*******************************************
FOOTER
********************************************/

.main-footer {
    text-align: center;
}

/*******************************************
MEDIA QUERIES
********************************************/

@media screen and (min-width: 660px) {
    .hamburger {
        display: none;
    }
}

